body {
    text-align: center;
}
table {
    margin: 0 auto;
}
td {
    width: 200px;
    height: 200px;
    
}
.vertical {
    border-left: 5px solid black;
    border-right: 5px solid black;
}
.horizontal{
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}
#board{
    display: none;
}
